/* Fonts */

    /*
    font-family: 'Lobster', cursive;

    font-family: 'Baloo Chettan', cursive;

    font-family: 'Comfortaa', cursive;

    font-family: 'Righteous', cursive;

    font-family: 'Lato', sans-serif;
    */

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #5c5c5c;
    list-style: none;
    text-decoration: none;
}

body {
    line-height: 1.4;
}
#navbar {
    padding: 10px 30px;
}
section {
    padding: 10px 0 30px 0;
    margin: 0 30px;
}


/* Index */

.title {
    font-size: 28px;
    margin: 15px 0;
}


/* Header */

#navbar {
}

#nav-body, .my-nav-flex, #nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-header {
    width: 30%;
}
#logo {
    font-size: 24px;
}

#nav-body {
    width: 100%;
    justify-content: space-between;
}

#nav-links {
    width: 100%;
    justify-content: space-evenly;
}

#nav-links li a {
    font-size: 18px;
}

.nav-icon {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
.social-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}


/* Landing and Img break */

#landing, #img-break {
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#landing {
    background-image: linear-gradient(to left, rgba(46, 76, 255, 0.7), rgba(87, 109, 230, 0.7)) , url("/static/4k-wallpaper-blur-close-up-1266821.jpg");
}
#img-break {
    background-image: linear-gradient(to left, rgba(255, 144, 46, 0.7), rgba(230, 154, 87, 0.7)) , url("/static/4k-wallpaper-blur-close-up-1266821.jpg");
}
#landing-text, #img-break-text {
    width: 70%;
}
#landing-text p, #img-break-text p {
    font-size: 35px;
    color: white;
    font-weight: bolder;

    font-family: 'Comfortaa', cursive;
}


/* Service */

#services {
    border-bottom: 1px solid gray;
}

.services-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.service {
    width: 200px;
    margin: 0 10px;
    text-align: center;
}
.service h2 {
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service:first-child {
    margin-left: 0;
}
.service:last-child {
    margin-right:  0;
}

.service-img {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-position: center;
    background-color: rgba(202, 202, 202, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Testimonials */

#testimonials {
}
.testimonials {
    margin: 10px;
}

.client {
    font-weight: bold;
}
